#.gitignore
.history
.vscode
#serve
*.log
/mirserver/CenterLog/
/mirserver/DBServer/Log/
/mirserver/LoginSrv/CountLog/
/mirserver/LoginSrv/Log/
/mirserver/Mir200/Log/
/mirserver/Mir200-kf/
/mirserver/Mir200/M2Server.log/
/mirserver/RunGate/Log/
/mirserver/RunGate/RunGate.log/
/mirserver/SelGate/Log/
/mirserver/DBServer/dbsrc.ini
/mirserver/LoginSrv/Logsrv.ini
/mirserver/mapTemp/
/mirserver/Log/
/mirserver/LoginGate/Log/
/mirserver/Mir200/UserData/
/mirserver/Config.Json
/mirserver/Mir200/Output/
#client
/client/rjengineb_Data/PersistantData/
/client/env.json
/client/rjengineb_Data/StreamingAssets/env.json
9963d_rxjh_fgui_project/settings/Publish.json
Mirserver/Config.Json