player-connection-mode=Listen
player-connection-guid=3893372056
player-connection-debug=0
player-connection-project-name=rjengineb
player-connection-ip=10.23.0.156
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
max-chunks-per-shader=2
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=056a04e6cb1f45f3b4f06c57079c7a42
