player-connection-mode=Listen
player-connection-guid=4238234849
player-connection-debug=0
player-connection-project-name=996热血江湖引擎编辑工具
player-connection-ip=10.23.0.156
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=12c9c82bda5643eeae92ddd9c1141376
